/* logo */
.accent {
  color: $accent-color;
}
.logo {
  margin-right: 93px;

  color: $logo-color;
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
