@import 'utils/variables';
@import 'utils/defaults';
@import 'components/header/header-line';
@import 'components/header/logo';
@import 'components/header/main-nav';
@import 'components/header/auth-nav';
@import 'components/main-sdydio/hero';
@import 'components/main-sdydio/benefits-section';
@import 'components/main-sdydio/work-section';
@import 'components/main-sdydio/all-section';
@import 'components/main-sdydio/team-section';
@import 'components/main-sdydio/clients-section';
@import 'components/main-sdydio/backdrop';
@import 'components/main-sdydio/main-form';
@import 'components/main-portfolio/list-button';
@import 'components/main-portfolio/example-list';
@import 'components/footer/footer-contacts';
@import 'components/footer/footer-social';
@import 'components/footer/footer-form';
