.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;
  padding: 15px;

  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buttom {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.modal-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-buttom:hover &,
  .modal-buttom:focus & {
    fill: $accent-color;
  }
}
.modal-header {
  margin-top: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.field {
  margin: auto;
  margin-bottom: 10px;
  width: 448px;

  .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
}
.username,
.username,
.username .email {
  .input {
    padding-left: 42px;
  }
}

.label {
  display: inline-block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}
.label-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.form-buttom {
  display: flex;
  padding: 10px 55px;
  margin: auto;
  background-color: $accent-color;
  color: $primary-white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.checkbox {
  margin-bottom: 32px;
}
.comment-container {
  margin-bottom: 18px;
}
.input-comment {
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;

  &::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox-link {
  color: $accent-color;
}
.icon-container {
  position: relative;
}

.input:focus + .icon {
  fill: $accent-color;
}
.checkbox-label {
  display: flex;
  align-items: center;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.old-checkbox:checked + .checkbox-icon {
  background-color: $accent-color;
  background-image: url(../images/svg/check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid $accent-color;
}
