/* Hero */
.hero {
  background: #c4c4c4;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  &-title {
    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &-buttom {
    border-radius: 4px;
    min-width: 200;
    padding: 10px 32px;
    margin-top: 30px;
    cursor: pointer;
    border: none;

    color: $primary-white-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
  }
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg.jpg);
}
.heading-container {
  width: 696px;
  margin: 0 auto;
}
