.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-description-item {
  width: 100%;
  text-align: center;

  .list-title {
    padding-bottom: 10px;
  }
}

.wrapper {
  width: auto;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding: 25px 0;
  text-align: center;

  &-icon {
    width: 70px;
    height: 70px;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
