.benefits-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list-description {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.list-description-item {
  width: 100%;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
  .list-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    padding-bottom: 10px;
  }
}

.wrapper {
  width: auto;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding: 25px 0;
  text-align: center;

  &-icon {
    width: 70px;
    height: 70px;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
